
volumes:
  pg_data:
  static:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: barashkina/taski_backend
    env_file: .env
    volumes:
      - static:/backend_static
    depends_on:
      - db

  frontend:
    env_file: .env
    image: barashkina/taski_frontend
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static

  gateway:
    image: barashkina/taski_gateway
    env_file: .env
    volumes:
      - static:/staticfiles
    depends_on:
      - backend
    ports:
      - 8000:80
